body, html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: none;
}

h1, h2, h3 { 
  font-family: monospace; 
}

h3 {
  margin: 5px 0px 2px 0px;
}

canvas {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
}

main {
  width: 100%;
  height: -webkit-fill-available;
  overflow-y: none;
}

#main-column {
  min-width: 500px;
  overflow-y: scroll;
}

.help-text {
  font-size: 10pt;
}

body {
  width: 100%;
  display: flex;
}

p {
  margin: 5px 0px 5px 0px;
}

input {
  font-family: monospace;
}

#sidebar {
  width: max-content;
  max-width: 30%;
  height: 100%;
  border-right: solid 0.5pt;
  overflow-y: scroll;
}

.num-input {
  width: 3em;
}

.symbol-input {
  width: 1em;
}

#blocks-container {
  column-gap: 1em;
}

.card {
  column-gap: 5px;
}

.card-body {
  position: relative;
  padding: 5px;
  border: solid 0.5pt;
  align-items: flex-start;
  row-gap: 5px;
}

.card-body > input {
  width: max-content;
}

.flex-column {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.page-flex-column {
  float: left;
  margin: 0 1em;
  height: 100%;
}

button {
  width: fit-content;
}

.add-button {
  height: 100%;
  align-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: max-content;
  align-items: top;
}

.setting {
  margin-bottom: 1.5em;
}